/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/noto-sans-v14-latin-regular.woff2') format('woff2'), 
        url('../fonts/noto-sans-v14-latin-regular.woff') format('woff'); 
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src:  url('../fonts/noto-sans-v14-latin-700.woff2') format('woff2'), 
        url('../fonts/noto-sans-v14-latin-700.woff') format('woff'); 
  }